<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xschen.spring.mybatis.demo.dao.CustomerMapper">

    <!-- 定义映射规则 -->
    <resultMap id="customerSimpleMap" type="Customer" >
        <!-- 主键映射 -->
        <id property="id" column="id" />
        <!-- 属性映射 -->
        <result property="name" column="name" />
        <result property="phone" column="phone" />
    </resultMap>

    <!-- 定义映射规则 -->
    <resultMap id="customerMap" type="Customer" >
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="phone" column="phone" />
        <!-- 映射addresses集合，<collection>标签用于映射集合类的属性，实现一对多的关联关系 -->
        <collection property="address" javaType="list" ofType="Address">
            <id property="id" column="id" />
            <result property="street" column="street" />
            <result property="city" column="city" />
            <result property="country" column="country" />
        </collection>
    </resultMap>

    <select id="find" resultMap="customerSimpleMap" >
        SELECT * FROM t_customer WHERE id = #{id:Long}
    </select>
    
    <select id="findWithAddress" resultMap="customerMap">
        SELECT c.*, a.id AS address_id, a.* FROM t_customer AS c JOIN t_address AS a
        ON c.id = a.customer_id
        WHERE c.id = #{id:Long}
    </select>

    <select id="findByOrderId" resultMap="customerMap" >
        SELECT * FROM t_customer AS c JOIN t_order AS o
        ON c.id = o.customer_id
        WHERE o.customer_id = #{id:Long}
    </select>

    <insert id="save" keyProperty="id" useGeneratedKeys="true" >
        INSERT INTO t_customer (id, name, phone)
        VALUES (#{id}, #{name}, #{phone})
    </insert>
</mapper>