<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- 内置的监听器，给web.xml中提供IOC容器初始化时机的ContextLoaderListener -->
<!--    <listener>-->
<!--        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
<!--    </listener>-->

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring-web.xml</param-value>
    </context-param>
</web-app>

<!-- 如何让web.xml将Spring的配置文件加载进来呢？什么时机加载？以及加载完成后，应该放在什么地方？-->
<!-- 在Web容器刚刚启动时，借助Listener加载配置文件，放在 application 域中，任何位置都可以拿到 -->



<!-- Spring Web中，有两种 Application Context -->
<!-- 1. Root WebApplicationContext 通过 ContextLoaderListener 加载 -->
<!-- 2. Servlet WebApplicationContext 通过 DispatcherServlet 加载  -->